body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_header {
    background: #1446AF;
    height: 185px;
    width: 100%;
}

.wrapper_header_1 {
    border-bottom: 1px solid #265AC6;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    height: 48px;
}

.navigation_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
}

.use_navigation {
    width: 100%;
    height: 63px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_childs {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

}

.nav_childs a {
    color: #FFFFFF;
    text-decoration: none;
    transition: all ease .20s;
}

.child:hover {
    color: #FFC600;
    transition: all ease .20s;
}

.basket {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.search_wrapper {
    display: flex;
    align-items: center;
}

.search_input {
    width: 339px;
    height: 42px;
    box-sizing: border-box;
    padding: 12px 16px;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border: none;
}

.search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
    gap: 6px;
    width: 93px;
    height: 42px;
    background: #FFC600;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: none;
    cursor: pointer;
}

.search_btn span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone_number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.use_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 838px;
}

.go_to_catalog {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 26px;
    gap: 10px;
    width: 203px;
    height: 38px;
    background: #FFC600;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.go_to_catalog span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    flex: none;
}

.nav_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all ease .20s;
}

.nav_link:hover {
    color: #FFC600;
    transition: all ease .20s;
}

/* Main */

.section_more_information {
    margin-top: 22px;
}

.foto1 {
    width: 620px;
    height: 464px;
}

.foto2 {
    width: 436px;
    height: 220px;
}

.wrapper_more_information {
    display: flex;
    justify-content: space-between;
}

.wrapper_for_foto2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more_information {
    position: relative;
}

.wrapper_for_button_more_information1 {
    display: flex;
    flex-direction: column;
}

.wrapper_for_button_more_information1 span {
    top: 312px;
    left: 36px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.wrapper_for_button_more_information1 button {
    position: absolute;
    top: 365px;
    left: 36px;
    align-items: flex-start;
    padding: 10px;
    width: 92px;
    height: 36px;
    background: #FECC20;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.alone_more_information {
    position: relative;
}

.wrapper_for_button_more_information2 span {
    top: 60px;
    left: 33px;
    position: absolute;
    width: 125px;
    height: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.wrapper_for_button_more_information2 button {
    position: absolute;
    top: 141px;
    left: 33px;
    align-items: flex-start;
    padding: 10px;
    width: 92px;
    height: 36px;
    background: #FECC20;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Main Category */
.section_main_categories {
    margin-top: 80px;
}

.container_slider_more_information {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
}

.main_categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main_categories span {
    width: 100%;
    max-width: 1087px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0F388A;
}

.slider_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

.wrapper_information_by_materials img {
    width: 160px;
    height: 128px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
}

.information_by_materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 17px;
    width: 100%;
    max-width: 209px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.pieces {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #797979;
}

/* section_discount_products */

.section_discount_products {
    margin-top: 80px;
}

.container_slider_discount_products {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_slider_discount_products span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0F388A;
}

.slider_btn_btn {
    width: 36px;
    height: 36px;
}

.new_slider {
    display: flex;
}

.new_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 26px;
}

.wrapper_information_by_materials2 {
    width: 100%;
    max-width: 250px;
    height: 461px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.wrapper_information_by_materials2 img {
    width: 100%;
}

.info1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #1446AF;
}

.slider_box_materials {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
}

.left_btn_slider_right_btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1120px;
}

.left_btn_slider2 {
    position: absolute;
    left: -20px;
}

.right_btn_slider2 {
    position: absolute;
    right: -20px;
}

.section_discount_materials {
    margin-top: 80px;
}

.container_discount_materials {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container_discount_materials span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0F388A;
}

.wrapper_info1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.wrapper_info3 {}

.info3 {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 215px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #898989;
}

.echolift {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.info4 {
    display: flex;
    gap: 6px;
    width: 212px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #898989;
}

.country {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.info5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1446AF;
    width: 79px;
}

.discount {
    width: 59px;
}

.procent {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E23F3F;
}

.info_price {
    display: flex;
    gap: 12px;
    align-items: center;
}

.info_discount_procent {
    display: flex;
    gap: 8px;
}

.wrapper_info3 button {
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    width: 210px;
    height: 40px;
    border: 1px solid #1446AF;
    border-radius: 5px;
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1446AF;
    margin: 0 auto;


}
.wrapper_info2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
}

.wrapper_info3{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 21px;
}