body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_header {
    background: #1446AF;
    height: 185px;
    width: 100%;
}

.wrapper_header_1 {
    border-bottom: 1px solid #265AC6;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    height: 48px;
}

.navigation_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
}

.use_navigation {
    width: 100%;
    height: 63px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_childs {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
   
}
.nav_childs a{
    color: #FFFFFF;
    text-decoration: none;
}
.basket {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.search_wrapper {
    display: flex;
    align-items: center;
}

.search_input {
    width: 339px;
    height: 42px;
    box-sizing: border-box;
    padding: 12px 16px;
    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border: none;
}

.search_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
    gap: 6px;
    width: 93px;
    height: 42px;
    background: #FFC600;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: none;
    cursor: pointer;
}
.search_btn span{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.contact {
    display: flex;
    align-items: center;
    gap: 8px;
}

.phone_number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.use_navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 838px;
}

.go_to_catalog {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 26px;
    gap: 10px;
    width: 203px;
    height: 38px;
    background: #FFC600;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.go_to_catalog span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    flex: none;
}

.nav_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}